<h1>Let's play rock, paper, scissors</h1>
<form action="/rps">
  <div class="form-group">
    <label for="word">Choose rock, paper or scissors.
    </label>
    <input id="word" name="word" class="form-control" type="text">
  </div>
  <button type="submit" class="btn-success">Send</button>
</form>
